<section class="footer">
    <div class='footer-main'>
        <ul class='footer-list'>
            <li>About <br> 
            Ala viriam omnihilin vitrum spicivi linatus senteremque nonsunte, C. Serudam coniam renatra rterdit num, quam quempris, sedem esupio, conum interio conde audem quam norum scideo, Catum mant deps, egite is milique res comnirm iuspere detium Patillare publis et aciis, silis caes abem pra rem iam. C. Im urios inat vic me viris; noximusa pere, vatissenatum tuus opublius, ina, nihilne ocavessa rei publi con vivestiam. pris, sedem esupio, conum interio conde audem quam norum scideo, Catum mant deps, egite is milique res comnirm iuspere detium Patillare publis et aciis, silis caes abem pra rem iam. C. Im urios inat vic me viris; noximusa pere, vatissenatum tuus opublius, ina, nihilne ocavessa rei publi con vivestiam.
            </li>
            <li>Download Resume </li>
            <li><a>Instagram</a></li>
            <li><a>Revue Diorama</a><br><a>Revue Diorama Instagram</a></li>
        </ul>
        <a class='backtotop'>Back to top</a>
    </div>


<div class='credits'>
    <div>This website was developed by Clara Pasteau</div>
    <div>© Marie-Mam Sai Bellier 2020</div>
</div>


</section>