<section class="footer">
<ul>
<li>About </li>
<li>Download Resume </li>
<li>Instagram </li>
<li>Revue Diorama </li>
</ul>


<a class='backtotop'>Back to top</a>


<div class='credits'>
    <div>This website was developed by Clara Pasteau</div>
    <div>© Marie-Mam Sai Bellier 2020</div>

</div>


</section>