<ul>
    <li>Marie-Mam Sai Bellier</li>
    <li>TV</li>
    <li>GRAPHIC AND TYPE DESIGNER, EDITOR, SEARCHER</li>
    <li>About</li>
    <li>Write me</li>
</ul>




<section class="landing">
      <img src="/assets/home_image.png" class="landing-img">
</section>