

<nav class='header {{ extraClasses|default('')  }}'>
    <ul class='header--left'>
        <li>Marie-Mam Sai Bellier</li>
        <li>graphic and type design, editor</li>   
    </ul>
    <div class='header--right'>
        <div class='header--right--top' >
            <a>About</a>
            <a>Mail</a>
        </div>
        <a href="/">Home</a>
    </div>
</nav>