<section class='tv'>

{% include '/layouts/_base.twig' %}
{% include '/layouts/_header2.twig' with {
    'extraClasses': 'header2',
    } %} 

{% set asset = entry.lienVideo %}
    {% if asset %}
         {% set video = craft.embeddedAssets.get(asset) %}
        <div class="video__container">
                {# {{ video.getVideoUrl(['autoplay=1', 'controls=0', 'playsinline=1'])  }}  #}
        </div> 
    {% endif %} 

</section>

