<section class='tv'>

{% include '/layouts/_base.twig' %}
{% include '/layouts/_header2.twig' with {
    'extraClasses': 'header2',
    } %} 

    <div class='tv__project'>
    {% set asset = entry.lienVideo.one() %}
        {% if asset %}
        {% set video = craft.embeddedAssets.get(asset) %}
            <div class="video__container">
                {{ video ? video.getVideoCode(['autoplay=1', 'controls=1', 'playsinline=1', 'rel=0']) }}
            </div> 
        {% endif %} 
    </div>


</section>

